.main-container{
            padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px grey;
    background-color: white;
    margin: 4rem 0rem;
}
.main-container h3{
    margin: 1rem 1rem;
    font-weight: bolder;
}
.cards{
    border-radius: 2rem;
    box-shadow: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 11rem;
    min-width: 4rem;
    margin: 1rem 2.5rem;
    padding: .5rem 1rem;
    background-color: white;
}
.card-container{
   display: flex;

    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.card-container img{
        width: 9rem;
    height: 7rem;
}
