.signup-home{
   display: flex
;
    height: 56rem;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    justify-content: space-around;
    /* padding: 11rem 39rem; */
    align-items: center;
    background-color: #faebd7ab;
}
.user-form{
          display: flex
;
    flex-direction: column;
    background-color: #0000002e;
    padding: 2rem 5rem;
    max-width: 39rem;
    border-radius: 1rem;
}
.user-form h2{
    color: rgb(129, 5, 5);
    font-weight: bold;
}
.user-form label{
    color: red;
    font-size: medium;
}
.input-username,.input-password,.input-cpass,.input-mobile{
     min-width: 26rem;
    min-height: 3rem;
    border-radius: 0.6rem;
    border: none;
    padding: 0rem 1.2rem;
    outline: none;
    margin: 2rem 0rem;
}
.signup-btn{
    background-color: rgba(145, 225, 145, 0.055);
    outline: auto;
    border: none;
    margin: 1rem 0rem;
}
.signup-btn:hover{
    background-color: rgb(10, 174, 10);
}